name: ci
on:
  push:
  pull_request:
  schedule:
  - cron: '0 7 * * *'
jobs:
  test:
    timeout-minutes: 60
    strategy:
      matrix:
        include:
          - name: "test-cross"
            java: 8
            os: ubuntu-latest
          - name: "scripted"
            java: 8
            os: ubuntu-latest
          - name: "scripted"
            java: 8
            os: windows-latest
          - name: "test"
            java: 11
            os: ubuntu-latest
    runs-on: ${{ matrix.os }}
    steps:
    - uses: olafurpg/setup-scala@v10
      with:
        java-version: "adopt@1.${{matrix.java}}"
    - uses: actions/checkout@v2.3.4
    - uses: coursier/cache-action@v6
    - shell: bash
      run: |
        case ${{ matrix.name }} in
          "test-cross")
            sbt -v "+compile" "+test"
            ;;
          "scripted")
            sbt -v "+ publishLocal" "+ sbt-plugin/scripted"
            ;;
          "test")
            sbt -v test
            ;;
          *)
            echo "unknown job"
            exit 1
        esac
