name: scala-steward
on:
  push:
    branches: [ master ]
  schedule:
  - cron: '0 0 * * *'
  workflow_dispatch:
jobs:
  scala-steward:
    runs-on: ubuntu-latest
    if: ${{ github.repository_owner == 'wartremover' }}
    timeout-minutes: 30
    steps:
    - name: Generate token
      id: generate_token
      uses: tibdex/github-app-token@v2
      with:
        app_id: 89668
        private_key: ${{ secrets.WARTREMOVER_BOT_KEY }}
    - name: Launch Scala Steward
      uses: scala-steward-org/scala-steward-action@v2.61.0
      with:
        github-token: ${{ steps.generate_token.outputs.token }}
        author-email: "74847867+wartremover-bot[bot]@users.noreply.github.com"
        author-name: wartremover-bot[bot]
        branches: "master,2.x"
